
# '{{ csvfile_ap.list.0.Tier }}{{ csvfile_ap.list.0.AppId }}_LS_{{ csvfile_ap.list.0.Subnet }}-AP':
  - name: '{{ csvfile_ap.list.0.Tier }}{{ csvfile_ap.list.0.AppId }}_LS_{{ csvfile_ap.list.0.Subnet }}-AP'
    tenant: '{{ csvfile_ap.list.0.Tenant }}'
    state: query
